
autoflake
# XXX: since we need python3.5 compatibility, we drop the requirements of black
black
coverage
flake8
isort
m2r
mypy
pre-commit

pytest
pytest-cov
radon
seed-isort-config
sphinx
sphinx-rtd-theme
